li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  p {
    margin: 0;
    padding: 0;
  }
  
  h1,
  h2,
  h3 {
    padding: 0;
    margin: 0;
  }
  
  img {
    display: block;
    /* max-width: 100%; */
    height: auto;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  .container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .navigation-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 13px;
    height: 50px;
    background-color: grey;
    border-bottom: 3px solid #000000;
  }
  .navigation-menu_itemlink {
    color: black;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .main-container {
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  .content-section {
    background-color: rgb(252, 243, 243);
    border-right: 3px solid #000000;
  }
  .left {
    padding-top: 20px;
    width: 380px;
    background-color: grey;
    padding-right: 5px;
    padding-left: 5px;
    border-right: 3px solid #000000;
  }
  .aboutme {
    padding-left: 20px;
    padding-top: 50px;
    padding-right: 20px;
  }
  .aboutme > p {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
  }
  
  .intr {
    margin-top: 20px;
    text-align: center;
  }
  
  .name {
    font-size: 30px;
  }
  .contacts {
    margin-top: 50px;
    margin-left: 30px;
  }
  .contacts-list {
    margin-top: 15px;
  }
  
  .contacts-list > li > a {
    color: black;
  }
  .contacts-list > li:not(:first-child) {
    padding-top: 20px;
  }
  .hard-skills {
    margin-top: 50px;
    margin-left: 30px;
  }
  .hard-list > li,
  .soft-list > li {
    display: flex;
    align-items: center;
    padding-top: 20px;
  }
  .hard-list > li::before,
  .soft-list > li::before {
    content: "";
    width: 5px;
    height: 5px;
    display: inline-flex;
    border-radius: 50%;
    background-color: red;
    margin-right: 10px;
  }
  .soft-skills {
    margin-top: 50px;
    margin-left: 30px;
    padding-bottom: 50px;
  }
  .code-ex {
    padding-left: 20px;
    padding-top: 50px;
    padding-right: 20px;
  }
  pre {
    margin-bottom: 0;
    margin-bottom: 10px;
    border-left: solid 4px orange;
    border-bottom: solid 1px black;
    background-color: rgb(250, 232, 232);
  }
  .projects {
    padding-left: 20px;
    padding-top: 50px;
    padding-right: 20px;
  }
  
  .projects-list,
  .education-list,
  .languages-list {
    padding-top: 10px;
  }
  .projects-list > li,
  .education-list > li,
  .languages-list > li {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
  }
  .projects-list > li::before,
  .education-list > li::before,
  .languages-list > li::before {
    content: "";
    height: 2px;
    width: 10px;
    display: inline-flex;
    background-color: red;
    margin-right: 10px;
  }
  .education,
  .languages {
    padding-left: 20px;
    padding-top: 50px;
    padding-right: 20px;
  }
  .languages-list > li:not(:last-child) {
    margin-bottom: 10px;
    border-bottom: none;
  }
  .footer-container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
  
  }
  .footer-list {
      padding-top: 40px;
      padding-bottom: 40px;
    display: flex;
      justify-content: space-around;
      align-items: center;
    background-color: #e0e0e0;
  }
  
  .footer-item > a {
      color: black;
  }
  
  .navigation-menu_itemlink:hover {
      color: rgb(77, 214, 214);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }