html {
  scroll-behavior: smooth; 
}

body
  {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-family: 'Kdam Thmor Pro', sans-serif;
  }

  .main-container
  {
    margin: 0 auto;
    max-width: 50%;
  }

  .nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;

  }

  .link
  {
    font-weight: bold;
    color: blue;
    text-underline-offset: 0;
    font-size: 2em;
    margin-top: 30px;

  }

  .link:hover
  {
    border-bottom: 1px solid;
    color: #A3F2F5;
  }

  h1, h2, h3
  {
    border-bottom: 1px solid #eaecef;
    margin-bottom: 20px;
    font-style: italic;
  }
  
  .page-footer
  {
    display: flex;
    flex-direction: row;
  }

  .col
  {
    flex: 1 3 40%;
    align-self: center;
    text-align: center;
  }